{% extends "MyApp/index.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniRide</title>
</head>
<body>
{% block content %}
<div class="aboutUs">
    <h1>About Us</h1>
<br>
  <p>
    Bem-vindos ao UniRide,
  </p>

    <br>
  <p>
      Esta ideia nasceu a partir de um projeto na cadeira de Desenvolvimento para a Internet e Aplicações Móveis.
      </p>
    <br>
    <p>
      Queríamos que o nosso projeto conseguisse ser aplicado na vida real e que conseguisse ajudar as pessoas.
      Assim surgiu a nossa ideia, criar um website para Alunos das faculdades de Portugal, em que conseguissem apanhar boleias de outros alunos e oferecer boleias a outros alunos.
  </p>
    <br>
    <p> Vantagens de utilizar o UniRide:</p>
        <ul>
            <li>Poupar nas deslocações</li>
            <li>Fazer novas amizades <3</li>
            <li>Diminuir emissões nocivas para a atmosfera</li>
        </ul>

    <br>
    <span>Criadores: </span>
        <p>Matheus Quintas & Alexandra Monteiro</p>

</div>

{% endblock %}
</body>
</html>