<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniRide</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'MyApp/styles.css' %}" />
</head>
<body>
    <div class="off-screen-menu">
        <a>About Us</a>
        <a>Information</a>
    </div>
<nav>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path fill="#273036" fill-opacity="1" d="M0,192L26.7,181.3C53.3,171,107,149,160,154.7C213.3,160,267,192,320,197.3C373.3,203,427,181,480,154.7C533.3,128,587,96,640,112C693.3,128,747,192,800,213.3C853.3,235,907,213,960,192C1013.3,171,1067,149,1120,154.7C1173.3,160,1227,192,1280,197.3C1333.3,203,1387,181,1413,170.7L1440,160L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path>

        <h1 id="titulo">UniRide</h1>
    </svg>

    <div class="hamburger-menu">
        <div class="ham-bar bar-top"></div>
         <div class="ham-bar bar-mid"></div>
         <div class="ham-bar bar-bottom"></div>
    </div>
   <!-- img id="navbar-button" src="{% static 'media/navigation-bar.png' %}" /> -->
</nav>
{% block content %} <!--colocar extends nas outras páginas, na primeira linha do html -->
    <section class="searchBar">
        <form class="searchBar">
            <label class="search_label" for="partida">Local de Partida:</label>
            <input class="search_inputs" type="text" id="partida" name="partida"><br><br>

            <label class="search_label" for="chegada">Local de Chegada:</label>
            <input class="search_inputs" type="text" id="chegada" name="chegada"><br><br>

            <button id="search_button" type="submit">Pesquisar</button>
        </form>
    </section>

    <section class="anunciarRide">

    </section>
{% endblock %}
<script src="{% static 'MyApp/scripts.js' %}" type="application/javascript"></script>
</body>
</html>
