*{
    margin-left: 0;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    font-family: "Candara";
    min-height: 100vh;
}

a{
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #f5f5dc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #273036;
    border-radius: 2px;
    border: 0px solid #ffffff;
  }
/* nav bar*/
nav{
    position: fixed;
    margin-top: -10px;
    width: 100%;
    height: 15vh;
}

#titulo {
  position: absolute;
  top: 3vh;
  left: 90vh;
  color: beige;
  font-size: 5rem;
  z-index: 1;
}

.login_OR_register{
    position: absolute;
    top: 8vh;
    left: 83%;
    display: flex;
    align-items: center;
    gap: 15px;
}

/*#logout{*/
/*position: absolute;*/
/*    top: -2vh;*/
/*    right: -10vw;*/
/*}*/

/*animated hamburger animation */
.hamburger-menu{
    height: 100px;
    width: 100px;
    background-color: #273036;
    position: fixed;
    top: 1rem;
    cursor:pointer;
}

.ham-bar{
    width: 70%;
    height: 10px;
    background-color: beige;
    border-radius:25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:transform .6s, opacity .8s, top .6s;
}

.bar-top{
top: 25%;
}
.bar-bottom{
top: 75%;
}

.hamburger-menu.active .bar-top{
transform: translate(-50%, -50%) rotate(-315deg);
    background-color:beige;
    top: 50%;
}
.hamburger-menu.active .bar-mid{
    opacity: 0;
}
.hamburger-menu.active .bar-bottom{
transform: translate(-50%, -50%) rotate(-225deg);
     background-color: beige;
    top: 50%;
}
/* off screen animation*/
.off-screen-menu{
    position: fixed;
    top: 0;
    left: -20%;
     background-color: beige;
    height: 100vh;
    width: 15%;
    transition:left .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
    gap: 20px;
}

.off-screen-menu.active{
    left: 0;
}

.off-screen-menu a{
    font-size: 2.5rem;
    color: #273036;
}

.off-screen-menu a:hover{
    color: #000000;

}

/* hero section*/

/* .hero{
    position:absolute;
    background-color: transparent;
    height: 30vh;
    width: 70%;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 30px;
grid-row-gap: 0px;
    font-size: 1.8rem;
}
*/


/* form partida e chegada */

.searchBar{
    position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label, input, button {
  display: inline-block;
  margin-right: 10px;
    white-space: nowrap;
}

.search_inputs{
     padding: 9px;
     font-size: 15px;
     border-width: 2px;
     border-color: #F5F5DC;
     background-color: #273036;
     color: #F5F5DC;
     border-style: double;
     border-radius: 50px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 5px 0px 5px rgba(255,255,255,.60);
}
.search_label{
    font-size:20px;
}

button{
     padding: 9px;
     font-size: 15px;
     border-width: 2px;
     border-color: #F5F5DC;
     background-color: #273036;
     color: #F5F5DC;
     border-style: double;
     border-radius: 50px;
}

button:hover{
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 5px 0px 5px rgba(255,255,255,.60);
}


#blop{
     width: 350px;
    height: 350px;
    position: absolute;
    top: 45%;
    right: 3%;
}

#anunciar{
    font-size: 2em;
}
#anunciar:hover{
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 5px 0px 5px rgba(255,255,255,.60);
}

/*blop animation*/


.flip{
    transform: rotate(180deg);
}


/* anuncios table*/

#anuncios_container {
  position: relative;
  margin: 0 auto;
   width: 600px;
    top: 45vh;
    height:300px;
    overflow-y: auto;
}

#anuncios_container table {
  width: 100%;
     height: 100px;
  border-collapse: collapse;
    position: absolute;
    top: 0;
}

#anuncios_container th,
#anuncios_container td {
  border: 1px solid black;
  padding: 0.5em;
  text-align: center;
}

#anuncios_container th {
  background-color: beige;
}

#anuncios_container p {
  text-align: center;
  font-size: 20px;
  margin-top: 7em;
}

/*login Page*/

.login-form {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #273036;
    border-radius: 10px;
  padding: 10px;
  max-width:300px;
  width: 100%;
		}

.login-form h2{
    color: #273936;
    padding: 13px;
}

.login-form p{
    padding: 8px;
}

		.login-form input[type="text"], .login-form input[type="password"]{
			width: 60%;
			padding: 10px;
			margin-bottom: 20px;
			border: none;
			border-radius: 3px;
			background-color: beige;
		}
		.login-form input[type="submit"]  {
			background-color: #273036;
			color: beige;
			padding: 10px 20px;
			border: none;
			border-radius: 3px;
			cursor: pointer;
		}

        #password{
            margin-left: 2px;
        }

        #login-form-button{
            margin-left: 40% ;
        }

       .register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #273036;
  border-radius: 10px;
  padding: 10px;
  max-width: 25vw;
  width: 100%;
}
       .anunciar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #273036;
  border-radius: 10px;
  padding: 10px;
  max-width: 25vw;
  width: 100%;
}

.register-form .form-group , .anunciar-form .form-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

.register-form label , .anunciar-form  label{
  width: 150px;
  text-align: center;
    padding: 10px;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"], .anunciar-form input[type="text"],
.anunciar-form input[type="password"],
.anunciar-form input[type="email"], .anunciar-form input[type="datetime-local"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: beige;
    margin-right: 30px;

}

.register-form input[type="submit"], .anunciar-form input[type="submit"] {
  background-color: #273036;
  color: beige;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#anunciar-form-button{
    margin: 20px 10px 10px 35%;
            /*margin-left: 40% ;*/
        }
#register-form-button{
    margin: 10px 10px 10px 40%;
            /*margin-left: 40% ;*/
        }

.aboutUs{
   display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
    text-align: center;
    max-width: 50vw;
    position: absolute;
    top: 32vh;
    left: 25vw;
}

.detail{
     display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #273036;
  border-radius: 10px;
  padding: 10px;
  max-width: 30vw;
  width: 100%;
}

.user_info{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #273036;
  border-radius: 10px;
  padding: 10px;
  max-width: 30vw;
  width: 100%;
}

.user_tables{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    height: 55vh;
    position: absolute;
    top: 44%;
    z-index: -1;
}

.anuncios_feitos{
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     width:30%;
    height: 55vh;
     border: 5px solid #273036;
  border-radius: 10px;

}

.boleias_Im_In{
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     width:30%;
    height: 55vh;
     border: 5px solid #273036;
  border-radius: 10px;
}

.boleias_Im_In_ul li, .anuncios_feitos_ul li{
    font-size: 1.1em;
    list-style: none;
}
